<div class="component">
    <div class="card-body">
        <div class="row">
            <div class="col-5">
                <div class="card">
                    <div class="card-header text-center">
                        <h4 class="font-weight-bold">Forgot Password</h4>
                        </div>
                    <div class="card-body">
                        <form action="/loginCustomer" method="post" class="needs-validation">
                            <div class="form-group">
                                <label class="col-form-label" for="pssword">Password</label>
                                <input type="password" class="form-control" name="pssword" placeholder="Password" id="pssword">
                            </div>
                            <div class="form-group text-center">
                                <button itype="submt" class="btn btn-success">log in</button><br>
                                <a href="/signupCustomer" class="display-center">Don't have an account? Sign-in</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>