<div class="component">
    <div class="card-body">
        <div class="row">
            <div class="col-5">
                <div class="card">
                    <div class="card-header text-center">
                        <h4 class="font-weight-bold">Password Reset</h4>
                    </div>
                    <div class="card-body">
                        <form action="/forgotPassword" method="post" class="needs-validation">
                            <p class="text-center">Enter your email address below. We'll email you a link to a page where you can easily create a new password.</p>
                            <div class="email error text-danger"></div>
                            <div class="form-group">
                                <label class="col-form-label" for="Email">Your email</label>
                                <input type="email" class="form-control" name="Email" placeholder="Your Email" id="email">
                            </div>
                            <div class="form-group text-center m-3">
                                <button type="submit" class="btn btn-success">Submit</button><br>
                                <a href="/signupCustomer" class="display-center">login |</a>
                                <a href="/signupCustomer" class="display-center"> Sign up</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    /* const alertAlert = document.getElementsByClassName('.alert.alert'); */
    const form = document.querySelector('form');
    const validate = document.querySelectorAll('.needs-validation');
    const emailError = document.querySelector('.email.error');

    form.addEventListener('submit', async (e) => {
        e.preventDefault();
        // reset errors
        emailError.textContent = '';
        // get values
        const email = form.Email.value;

        try {
            const res = await fetch('/forgotPassword', { 
                method: 'POST', 
                body: JSON.stringify({ email }),
                headers: {'Content-Type': 'application/json'}
            });
            const data = await res.json();
            console.log(data);

            if (data.error ){ emailError.textContent = data.message }
            $.ajax({
                type: "POST",
                data: data,
                dataType: "json",
                success: function(data) {
                    if (data.success) {
                        form.classList.add('was-validated');
                        window.location.href = data.url;
                    }
                }
            });    
        } catch (err) {
            console.log(err);
        }
    });
</script>