<div class="component">
    <div class="card-body">
        <div class="row d-flex justify-content-between align-items-center">
            <div class="col-md-6 text-center">
                <img src="/images/home-image.png" alt="shopping cart" class="img-fluid">
            </div>
            <div class="col-md-5">
                <div class="card">
                    <div class="card-header text-center">
                        <h4 class="font-weight-bold">Log In</h4>
                    </div>
                    <div class="card-body">
                        <form action="/loginCustomer" method="post" class="needs-validation">
                            <div class="text-center">
                                <h4>Welcome To T'Dou</h1>
                                <h5>Best online Shopping platform</h4>
                            </div>
                            <div class="form-group">
                                <label class="col-form-label" for="email">User ID</label>
                                <input type="text" class="form-control" name="userEmailPhone" placeholder="Username, email or phone" id="userEmailPhone">
                            </div>
                            <div class="form-group">
                                <label class="col-form-label" for="pssword">Password</label>
                                <input type="password" class="form-control" name="pssword" placeholder="Password" id="pssword">
                                <a href="/forgotPassword">Forgot Password?</a>
                            </div>
                            <div class="form-group text-center">
                                <button itype="submt" class="btn btn-success">log in</button><br>
                                <a href="/signupCustomer" class="display-center">Don't have an account? Sign-in</a>
                            </div>
                            <div class="form-group text-center">
                                <a href="/auth/google" >
                                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" alt="Google Img" height="50px" width="50px">
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>