<div class="component">
    <div class="card-body">
        <div class="row">
            <div class="col-6">
                <h1>Welcome To T'Dou</h1>
                <h4>Best online Shopping platform</h4>
            </div>
            <div class="col-5">
                <div class="card">
                    <div class="card-header text-center">
                        <h4 class="font-weight-bold">Add-Account</h4>
                        </div>
                    <div class="card-body">
                        <form action="/addCustomer" method="post" class="needs-validation">
                            <div class="form-group">
                                <label class="col-form-label" for="username">User Name</label>
                                <input type="text" class="form-control" name="username" placeholder="enter your username" id="username">
                            </div>
                            <div class="form-group">
                                <label class="col-form-label" for="email">E-mail</label>
                                <input type="email" class="form-control" name="email" placeholder="example@email.com" id="email">
                            </div>
                            <div class="form-group">
                                <label class="col-form-label" for="email">Phone Number</label>
                               <input type="number" class="form-control" name="phone" placeholder="Phone Number" id="phone">                                        
                            </div>
                            <div class="form-group">
                                <label class="col-form-label" for="pssword">Password</label>
                                <input type="password" class="form-control" name="pssword" placeholder="Password" id="pssword">
                            </div>
                            <div class="form-group text-center">
                                <button itype="submt" class="btn btn-success">Submit</button>
                                <a href="/admin" class="btn btn-light">Cancel</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>