<div class="component">
    <div class="card-body">
        <div class="row d-flex justify-content-between align-items-center">
            <div class="col-md-4 text-center">
                <div class="text-center">
                    <h2 class="font-weight-bold">Welcome To T'Dou</h2>
                    <h4>Best online Shopping platform</h4>
                </div>
                <img src="/images/home-image.png" alt="shopping cart" class="img-fluid">
            </div>
            <div class="col-md-5">
                <div class="card">
                    <div class="card-header text-center">
                        <h4 class="font-weight-bold">Add new Customer</h4>
                        </div>
                    <div class="card-body">
                        <form action="/signupCustomer" method="POST" class="needs-validation" novalidate>
                            <div class="validate error text-danger text-center"></div>
                            <div class="row">
                                <div class="form-group col-md">
                                    <label class="col-form-label" for="fullName">Full name</label>
                                    <input type="text" class="form-control" name="fullName" placeholder="Firstname Lastname" id="fullname" required>
                                    <div class="firstname error text-danger"></div>
                                </div>
                                <div class="form-group col-md">
                                    <label class="col-form-label" for="username">Username</label>
                                    <input type="text" class="form-control" name="uid" placeholder="Username" id="lastName" required>
                                    <div class="username error text-danger"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md">
                                    <label class="col-form-label" for="Email">E-mail</label>
                                   <input type="email" class="form-control" name="Email" placeholder="example@email.com" id="email" required>
                                   <div class="email error text-danger"></div>                                   
                                </div>
                                <div class="form-group col-md">
                                    <label class="col-form-label" for="contact">Phone Number</label>
                                   <input type="number" class="form-control" name="contact" placeholder="Phone Number" id="phone" required>
                                   <div class="phone error text-danger"></div>                                    
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md">
                                    <label class="col-form-label" for="pass">Password</label>
                                    <input type="password" class="form-control" name="pass" placeholder="Password" id="pssword" required>
                                </div>
                                <div class="form-group col-md">
                                    <label class="col-form-label" for="confirmPass">Confirm Password</label>
                                    <input type="password" class="form-control" name="confirmPass" placeholder="Confirm Password" id="conPssword" required>
                                    <div class="password error text-danger"></div>
                                </div>
                            </div>
                            <div class="form-group pb-4">
                                <label for="role" class=col-form-label"><h6>User Role :</h6></label>
                                <select class="form-control" aria-label="Role" name="Role" required>
                                  <option selected value="Customer">Customer</option>
                                  <option value="Admin">Admin</option>
                                </select>
                                <div class="role error text-danger"></div>
                            </div>
                            <div class="form-group text-center">
                                <button type="submit" class="btn btn-success">Submit</button>
                                <a href="/" class="btn btn-light">Cancel</a><br>
                                <a href="/loginCustomer">already have an account? log in</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    /* const alertAlert = document.getElementsByClassName('.alert.alert'); */
    const form = document.querySelector('form');
    const validate = document.querySelectorAll('.needs-validation');
    const validateError = document.querySelector('.validate.error');
    const usernameError = document.querySelector('.username.error');
    const emailError = document.querySelector('.email.error');
    const phoneError = document.querySelector('.phone.error');
    const passError = document.querySelector('.password.error');

    form.addEventListener('submit', async (e) => {
        e.preventDefault();
        // reset errors
        validateError.textContent = '';
        usernameError.textContent = '';
        emailError.textContent = '';
        phoneError.textContent = '';
        // get values
        const fullname = form.fullName.value;
        const username = form.uid.value;
        const email = form.Email.value;
        const phone = form.contact.value;
        const pssword = form.pass.value;
        const confirm = form.confirmPass.value;
        const role = form.Role.value;

        try {
            const res = await fetch('/signupCustomer', { 
                method: 'POST', 
                body: JSON.stringify({ fullname, username, email, phone, confirm, pssword, role }),
                headers: {'Content-Type': 'application/json'}
            });
            const data = await res.json();
            console.log(data.error);

            if (data.error ){ validateError.textContent = data.error }
            if (data.error === 'error-username') {  usernameError.textContent = data.message; }
            if (data.error === 'error-email') { emailError.textContent = data.message; }
            if (data.error === 'error-contact') { phoneError.textContent = data.message; }
            if (data.error === 'error-password') { passError.textContent = data.message; }

            if (data.user) {
                form.classList.add('was-validated');
                location.assign('/');
            }
            form.classList.add('was-validated');
        } catch (err) {
            console.log(err);
            /* alertAlert.textContent = data.message; */

        }
    });
</script>